<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/recode/champion.css">
    <link rel="stylesheet" href="/static/css/recode/checkbox.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>전적 페이지</title>
</head>

<body>
    <header class="header-box"></header>
    <main class="main-box">
        <div class="back-img-box">
            <div class="profil-box">
                <div class="head-info">
                    <div class="profil-info">
                        <div class="profil-left">
                            
                        </div>
                        <div class="profil-right">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="profil-box">
            <div class="head-check">
                <div class="check-box">
                
                </div>
            </div>
        </div>
        <div class="champion-info">
            <div class="search-box">
                <div class="select-box">
                    <select name="" id="" class="game-option-value">
                        <option value="">기본</option>
                        <option value="">랭크</option>
                    </select>
                </div>
                <div class="select-box">
                    <select name="" id="" class="game-option-value">
                        <option value="">시즌</option>
                        <option value="">시즌1</option>
                    </select>
                </div>

                <div class="search-champ">
                    <form action="">
                        <input type="text">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>

            <div class="champion-info-box">
                <table class="champion-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>챔피언</th>
                            <th>게임</th>
                            <th>평점</th>
                            <th>와드</th>
                            <th>골드</th>
                            <th>더블킬</th>
                            <th>트리플킬</th>
                            <th>쿼드라킬</th>
                            <th>펜타킬</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>


            </div>


        </div>
    </main>

    <footer style="height: 200px;"></footer>
</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/record/summonerShowInfo.js"></script>
<script src="/static/js/record/checkbox.js"></script>
<script src="/static/js/record/champion.js"></script>
</html>